@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
/* Maing styles */

/* Variables */
:root{

}

/* General styles */
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Nav styles */

/* container styles */